
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h1{text-align: center;}
        h3{text-align: center;}
        div{text-align: left;}
    </style>
</head>
<body style="background-color:#85a69c;">
    <h1>Akash Biswas </h1> 
        <h1>(1002055500) </h1> 
        <h3>CSE-6332-002 Assignment 1</h3>
        <br>
        <div style="text-align: left;">
            <a style="font-size: large; font-family: 'Ubuntu', sans-serif; color: rgb(38, 10, 143);"href="/">Home Page</a>
         </div>    
		<br> <br>
        <style>
            .custom-font-size {
              font-size: 16px;
            }
          </style>
    <div>    
		<form method='POST' action="/find_deets">
            <label for="name">
                <span style="font-size: 20px;">Enter the individual's name here:</span>
              </label>
			<input type="text" name="name" class="custom-font-size">
			<input type="submit" value="Get Info" class="custom-font-size">
		</form>
    </div> 
</body>
</html>