<!doctype html>
<html>
	<head>
		<style>
			h1{text-align: center;}
			h3{text-align: center;}
            div{text-align: left;}

		</style>
	</head>
	<body style="background-color:#85a69c;">
		
		 <h1>Akash Biswas </h1> 
		
		 <h1>(1002055500)</h1> 
		
		 <h3>CSE-6332-002 Assignment 1</h3> 
		 <br><br><br>

		<div class='container'>
			<a style="font-size: large; font-family: 'Ubuntu', sans-serif; color: rgb(38, 10, 143);" href="/all">View the list of individuals</a><br><br>
			<a style="font-size: large; font-family: 'Ubuntu', sans-serif; color: rgb(38, 10, 143);"href="/find">Get information on an individual person</a><br><br>
			<a style="font-size: large; font-family: 'Ubuntu', sans-serif; color: rgb(38, 10, 143);"href="/updatekey">Change keywords</a><br><br>
			<a style="font-size: large; font-family: 'Ubuntu', sans-serif; color: rgb(38, 10, 143);"href="/remove">Delete record</a><br><br>
			<a style="font-size: large; font-family: 'Ubuntu', sans-serif; color: rgb(38, 10, 143);"href="/range_sal">Get individual information based on Salary bracket</a><br><br>
			<a style="font-size: large; font-family: 'Ubuntu', sans-serif; color: rgb(38, 10, 143);"href="/updatesalary">Update salary</a><br><br>
			<a style="font-size: large; font-family: 'Ubuntu', sans-serif; color: rgb(38, 10, 143);"href="/add_pic">Upload display picture</a><br><br>
			
		</div>
		
	
</html>