<!doctype html>
<html>
   <head>
      <style>
		h1{text-align: left;}
         div{text-align: left;}

      </style>
      </head>
      <body style="background-color:#85a69c;">
         <h1>Akash Biswas </h1> 
               <h1>1002055500 </h1> 
               <br>
      <div>
         <a href="/">Home</a>
      </div>   
   <br> <br>
      <br> <br>
      <div>
         {% for col in rows %} 
         <br>
         {{col[0]}}    
         <br>
            <img style="height: 150px"  src="static/{{col[6]}}" alt="No Image Found">
         <br>
            {% endfor %}
</div>
      <br>
     
   </body>
</html>